// Color Variables
$primary-color: rgb(234, 96, 106);
$text-color: #333333;
$text-color-dark: #222222;
$body-color: #fff;
$border-color: #D1D1D1;
$black: #000;
$white: #fff;
$light: rgb(223, 223, 223);

$primary-gradient: linear-gradient( 27deg, rgb(234, 96, 106) 100%, rgb(234, 96, 106) 100%);

// Font Variables
$primary-font: 'Quicksand', sans-serif;
$icon-font: 'themify';